@font-face {
  font-family: 'Windows Regular';
  src: url('./fonts/Windows Regular.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Loja';
  src: url('./fonts/Loja.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Multicolore Pro';
  src: url('./fonts/Multicolore Pro.otf') format('opentype'); 
}

@font-face {
  font-family: 'Conthrax';
  src: url('./fonts/conthrax-sb.ttf') format('truetype'); 
}

@keyframes backgroundMove {
  0% {background-position: 0px 0px;}
  100% {background-position: -35.355px 0px;}
}

@keyframes textGlitch1 {
  0% {transform: skew(0deg);}
  40% {transform: skew(0deg);}
  40.1% {transform: skew(30deg);}
  40.2% {transform: skew(0deg);}
  50% {transform: skew(0deg);}
  50.1% {transform: skew(50deg);}
  50.2% {transform: skew(0deg);}
  100% {transform: skew(0deg);}
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
}

$primary-color: #ffffff;
$secondary-color: #000000;

.invisible {
  opacity: 0;
}

html {
  // overflow-x: hidden;
}

#app {
  position: absolute;
}

div.letter-preservation-title {
  position: relative;
  span {
    font-size: 40px; font-family: monospace; position: absolute; top: -23px; transition: 1s
  }
}

div.win-95-window {
  background-color: #C0C0C0;
  border-top: 2px solid #FFFFFF;
  border-right: 2px solid #787878;
  border-bottom: 2px solid #787878;
  border-left: 2px solid #FFFFFF;
  cursor: default;
  div.header-bar {
    background-color: #00007F;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    font-size: 25px;
    .title {
      padding-left: 4px;
      padding-right: 8px;
      .text {
        position: absolute;
        letter-spacing: 2px;
      }
      .shadow {
        position: relative;
        letter-spacing: 2px;
        left: 2px;
      }
    }
    div.close {
      background-color: #BFBFBF;
      border-right: 2px solid #7F7F7F;
      border-bottom: 2px solid #7F7F7F;
      border-top: 2px solid #DFDFDF;
      border-left: 2px solid #DFDFDF;
      color: #222222;
      margin-right: 2px;
      font-family: Arial, Helvetica, sans-serif;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .main-body {
    padding: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .message {
      font-size: 25px;
    }
    .image {
      width: 100px;
      height: 100px;
      background-position: calc(4 * -84px) calc(1 * -84px); // 84px
      background-size: 2860px; // 715px
      image-rendering: crisp-edges;
      background-image: url('/src/images/win95-icons.png');
    }
  }
}

div.heading {
  overflow: hidden;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary-color;
  background-color: $secondary-color;
}

div#win95 {
  background-color: #018281;
  width: 100%;
  height: 400px;
  font-family: 'Windows Regular';
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: black solid 4px;
}

div#developer {
  width: 100%;
  overflow: hidden;
  border-bottom: black solid 4px;

  div.programmer-heading {
    position: relative;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    > p {
      animation: textGlitch1 10s linear infinite;
    }
  }
}

div#languages {
  width: 100%;
  font-family: 'Loja';
  background-color: rgb(105, 231, 231);
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;

  * {
    z-index: 0;
  }
  
  h1, h2, h3, h4, h5 {
    margin: 0px;
    padding: 0px;
  }

  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 50px;
    margin-top: 40px;
  }
  h3 {
    padding-left: 8px;
    padding-bottom: 4px;
    border-bottom: solid 4px rgb(95, 52, 28);
    font-size: 40px;
    background-color: rgb(139, 90, 62);
    color: white;
  }
  h4 {
    font-size: 30px;
  }

  .language-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    width: 90%;
  }

  .language {
    margin: 10px 10px;
    background-color: #dfbd97;
    border: solid black 4px;
    border-top: solid 4px rgb(168, 124, 98);
    border-left: solid 4px rgb(155, 107, 79);
    border-right: solid 4px rgb(121, 71, 42);
    border-bottom: solid 4px rgb(95, 52, 28);
    width: 400px;

    .language-content {
      padding: 10px;
      display: flex;
      flex-direction: column;
    }

    .bar-note {
      align-self: center;
      margin: 0px;
      text-transform: uppercase;
    }

    .bar {
      position: relative;
      border: solid 4px black;
      border-radius: 5px;
      height: 20px;
      width: 80%;
      align-self: center;

      .bar-front, .bar-back {
        position: absolute;
      }

      .bar-front {
        width: 50%;
        height: 100%;
        animation: backgroundMove 1s linear infinite;

        &.experience {
          background: repeating-linear-gradient(
            45deg,
          #29a029,
          #29a029 10px,
          #178317 10px,
          #178317 25px
          );
          background-size: 1000%;
        }
        &.opinion {
          background: repeating-linear-gradient(
            45deg,
          #df87ba,
          #df87ba 10px,
          #b84487 10px,
          #b84487 25px
          );
          background-size: 1000%;
        }
      }

      .bar-back {
        width: 100%;
        height: 100%;
        &.experience {
          background-color: rgb(255, 255, 128);
        }
        &.opinion {
          background-color: rgb(255, 161, 161);
        }
      }
    }
  }

  @keyframes bounce {
    0% {transform: scale(2.2,1.8)}
    50% {transform: scale(1.8,2.2)}
    100% {transform: scale(2.2,1.8)}
  }

  .cloud {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 80px;
    // background-color: white;
    z-index: 0;
    animation: bounce infinite 1s;
    transform-origin: center;

    > div {
      background-color: #eeeeee;
      position: relative;
      border-radius: 100px;
      bottom: 0px;
    }

    .absolute {
      position: absolute;
      &.shadow {
        top: 3px;
        left: 3px;
      }
      &.highlight {
        top: 6px;
        left: 6px;
      }
    }

    .cloud-left {
      border-radius: 100px;
    }
    .cloud-centre {

    }
    .cloud-right {

    }
  }

  .hills {
    height: 200px;
    overflow: hidden;
    width: 100%;
    position: relative;

    .hill-1 {
      width: 10000px;
      height: 10000px;
      border-radius: 10000px;
      position: absolute;
      top: 80px;
      left: -4800px;
      background-color: green;
    }

    .hill-2 {
      width: 10000px;
      height: 10000px;
      border-radius: 10000px;
      position: absolute;
      top: 40px;
      right: -4800px;
      background-color: rgb(12, 87, 12);
    }

    .hill-3 {
      width: 10000px;
      height: 10000px;
      border-radius: 10000px;
      position: absolute;
      top: 0px;
      left: -4500px;
      background-color: rgb(37, 77, 37);
    }
  }
}

div#work {
  width: 100%;
  font-family: 'Conthrax';
  background-color: #050010;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-bottom: black solid 4px;
  background-image: url('./images/space.png');
  background-size: cover;
  background-repeat: no-repeat;

  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 10;

    button {
      border: solid 4px #ffffff;
      font-size: 200px;
      background-color: #00000080;
      color: white;
      margin: 0px 50px;
      cursor: pointer;
      border-radius: 0px 20px;
      &:hover {
        background-color: #ffffff20;
      }
      &:active {
        transform: scale(1.1);
      }
    }
  
    .jobs {
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      perspective: 1000px;
      perspective-origin: 0px 0px -1000px;
      flex-grow: 1;
  
      .job {
  
        border: solid 4px #ffffff;
        border-radius: 0px 20px;
        position: absolute;
        transition: transform 1s, opacity 1s;
        opacity: 1;
        background-color: #00000080;
        padding: 10px;
        max-width: 400px;
  
        &.leftmost {
          transform: rotateY(-90deg) translateX(0px) translateY(300px);
          opacity: 0;
          z-index: 1;
        }
        &.left {
          transform: rotateY(-45deg) translateX(-50vw) translateY(50px);
          opacity: 0.5;
          z-index: 2;
        }
        &.center {
          transform: rotateY(0deg) translateX(0px);
          opacity: 1;
          z-index: 3;
        }
        &.right {
          transform: rotateY(45deg) translateX(50vw) translateY(-50px);
          opacity: 0.5;
          z-index: 2;
        }
        &.rightmost {
          transform: rotateY(90deg) translateX(0px) translateY(-300px);
          opacity: 0;
          z-index: 1;
        }
      }
    }
  }

  .scroll {
    display: flex;
    flex-direction: row-reverse;

    .scroll-icon {
      border: solid 4px white;
      width: 20px;
      height: 20px;
      border-radius: 100px;
      margin: 10px 10px 40px 10px;
      background-color: #00000080;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        background-color: #ffffff20;
      }

      &:active {
        background-color: #ffffffff;
      }

      &.selected {
        background-color: #ffffffc0;
      }
    }

  }

  .planet-system {
    position: absolute;
    z-index: 0;

    .planet {
      width: 200px;
      height: 200px;
      background-position: center;
      background-size: contain;
      position: absolute;
      z-index: 5;
    }

    @keyframes orbit1 {
      0% {transform: translateX(-150px);}
      50% {transform: translateX(150px);}
      100% {transform: translateX(-150px);}
    }

    @keyframes orbit2 {
      0% {transform: rotateZ(20deg)}
      50% {transform: rotateZ(-20deg)}
      100% {transform: rotateZ(20deg)}
    }

    @keyframes orbit3 {
      0% {z-index: 10;}
      50% {z-index: 0;}
      100% {z-index: 10;}
    }
  
    .moon {
      animation: orbit3 5s step-start infinite;
      transform-origin: center;
      width: 200px;
      height: 200px;
      z-index: 10;
      position: absolute;
      > div {
        animation: orbit2 32s ease-in-out infinite;
        transform-origin: center;
        width: 200px;
        height: 200px;
        z-index: 10;
        > div {
          animation: orbit1 5s ease-in-out infinite;
          width: 70px;
          height: 70px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          top: 65px;
          left: 65px;
          z-index: 10;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

}